body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0px 28.2px 0px 28.2px;
  }

  .darkmode {
    --secondary-color-darkmode: #383838; /* secondary for dark mode */
    --background-color-darkmode: #242424; /* secondary for dark mode */
    --text-color-darkmode: #FFFFFF; /* darkmode text color */
    --container-color-darkmode: #383838; /* border color lightmode*/
    --border-color-darkmode: #5B5B5B; /* border color lightmode*/
  }

  :root {
    /* color Palette */
    --primary-color: #4CAF50; /* main green, same for light and dark mode */
    --secondary-color: #A6D7A8; /* secondary for light mode */
    --background-color: #F4F4F4; /* bg color for light mode */
    --text-color: #000000; /* lightmode text color */
    --container-color: #FFFFFF; /* border color lightmode*/
    --border-color: #E0E0E0; /* border color lightmode*/

    /* font Family */
    --font-agrandir: 'PP Agrandir', sans-serif;
    --font-monument: "PP Monument Extended", sans-serif;

    /* border Radius */
    --container-border-radius: 13px;
    --navbar-border-radius: 13px;
}

.darkmode {
  --secondary-color: #383838; /* secondary for dark mode */
  --background-color: #242424; /* secondary for dark mode */
  --text-color: #FFFFFF; /* darkmode text color */
  --container-color: #383838; /* border color lightmode*/
  --border-color: #5B5B5B; /* border color lightmode*/
}

/* navbar styling */
    /* container of the navbar */
      .bottom-navbar {
        position: fixed;
        margin: 7.5%;
        bottom: 0;
        left: 0;
        width: 323.631px;
        height: 71.278px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 1000;
        border-radius: 19px;
        border: 1px solid var(--border-color);
        background: var(--primary-color);
      }

      /* individual svg sizing */
      .bottom-navbar .unactive-svg {
        width: 24px;
        height: 24px;
      }

      /* container around the svg's */
      .icons {
        display: flex;
        align-items: center;
        gap: 34px;
    }

    /* container around the active svg, contains blurred and main svg */
    .blurred-svg {
        position: absolute; 
        filter: blur(2px); 
        opacity: 0.9; 
        z-index: 1;
    }

    /* Main SVG in front of blurred SVG */
    .main-svg {
        position: relative; 
        z-index: 2; 
    }

    /* Container for alignment */
    .svg-container {
        position: relative; 
        display: flex;
        align-items: center;
        justify-content: center;
      
    }

    /* spotlight around the active page's icon */
    .active-spotlight {
        position: absolute; 
        width: 70px; 
        height: 71px; 
        z-index: 1; 
    }

/* header styling */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
/* date styling */
.date-and-greeting .date {
  color: var(--text-color);
  font-family: "PP Agrandir", sans-serif;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.1em; 
  line-height: 1.5;
  margin-bottom: 5px;
  transform: scaleY(0.8);

}
/* greeting styling */
.date-and-greeting .greeting {
  color: var(--text-color);
  font-family: "PP Monument Extended";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  transform: scaleY(1.2);
  
}

/* theme switch between light and dark mode */
#theme-switch {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: fixed;
  top: 20px;
  right: 28.2px;
  margin-top: 30px;

}

/* sun svg */
#theme-switch svg:last-child {
  display: none;
}
/* moon svg */
.darkmode #theme-switch svg:first-child {
  display: none;
}

/* sun svg when darkmode is enabled */
.darkmode #theme-switch svg:last-child {
  display: block;
}

/* index.html dashboard */
/* "todays dashboard" */
.dashboard .title {
  margin-top: 40px;
  color: var(--text-color);
  font-family: "PP Agrandir";
  font-size: 14px;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
}

.square-container {
  width: 150px;
  height: 165px;
  border: 2px solid var(--border-color);
  border-radius: var(--container-border-radius);
}

.long-container {
  margin-top: 10px;
  width: 315px;
  height: 165px;
  border: 2px solid var(--border-color);
  border-radius: var(--container-border-radius);
}

.big-container {
  width: 150px;
  height: 243px;
  border: 2px solid var(--border-color);
  border-radius: var(--container-border-radius);
}

.containers-right .square-container {
  width: 150px;
  height: 160px;
  border: 2px solid var(--border-color);
  border-radius: var(--container-border-radius);
  margin-top: 18px;
}

.small-container {
  width: 150px;
  height: 88px;
  border: 2px solid var(--border-color);
  border-radius: var(--container-border-radius);

}

.square-container .data {
  width: 135px;
  height: 115px;
  margin-left: 7px;
  background-color: var(--primary-color);
  border-radius: var(--container-border-radius);
}

.long-container .data {
  width: 300px;
  height: 115px;
  margin-left: 7px;
  background-color: var(--primary-color);
  border-radius: var(--container-border-radius);
}

.big-container .data {
  display: flex;
  align-items: center;
  width: 135px;
  height: 193px;
  margin-left: 7px;
  background-color: var(--primary-color);
  border-radius: var(--container-border-radius);
}


.small-container .data {
  width: 135px;
  margin-left: 7px;
  background-color: var(--primary-color);
  border-radius: var(--container-border-radius);
}

.icon-and-title {
  margin: 8px 0px 8px 10px;
  display: flex;
  align-items: center;
  color: var(--text-color)
}

.icon-and-title svg {
  stroke: var(--text-color)
}

.icon-and-title p {
  font-family: "PP Agrandir";
  margin: 0px 0px 0px 5px;
  transform: scaleY(0.8);
  font-size: 20px;
  font-weight: 100;
}

.square-container .graph {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  gap: 4px;
  margin: 6px 0px 0px 0px
}

.square-container .graph-steps {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80px;
  gap: 4px;
  margin: 6px 0px 5px 0px
}

.graph-steps svg {
  margin-bottom: 11px;
  transform: scaleY(1.2);
}

.small-container .graph {
  margin: 6px 0px 3px 6px
}

.dotted-line p {
  color: #FFF;
  font-family: "PP Agrandir";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}

.dotted-line-steps p {
  color: #FFF;
  font-family: "PP Agrandir";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}


.data .number p {
  color: #FFF;
  font-family: "PP Monument Extended";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 0px 10px 12px;
}

.data .number-steps p {
  color: #FFF;
  font-family: "PP Monument Extended";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 0px 4px 10px;
}

.line-graph-container {
  position: absolute;
}

.data .dot {
  position: relative;
  right: 10px;
}


.small-container .data .number p {
  color: #FFF;
  font-family: "PP Monument Extended";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 0px 3px 5px;
}

.data {
  display: flex;
  flex-direction: column;
}

.containers-left {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 40vw;
}

.containers-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 10px; 
  width: 40vw;
}

.flex-container {
  display: flex;
  gap: 15px;
}

.radial-graph {
  position: relative;
  width: 90px;
  height: auto;
  margin: 10px 18px;;
}

.circle {
  width: 100%;
  height: 100%;
}

.circle-bg {
  fill: none;
  stroke: var(--secondary-color);
  stroke-width: 4.5;
}

.circle-progress {
  fill: none;
  stroke: white;
  stroke-width: 4.5;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transition: stroke-dashoffset 0.35s ease;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.number {
  font-size: 1.5rem;
  color: white;
  font-family: "PP Monument Extended";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.unit {
  color: var(--secondary-color);
  font-family: "PP Monument Extended";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.macros {
  text-align: left;
  font-size: 1rem;
  color: #333;
  width: 120px;
}

.macro-item {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 5px 0;
  color: #FFF;
  font-family: "PP Agrandir";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.macro-item div {
  display: flex;
  gap: 2px; 
}

#max-carbs,#max-fat,#max-protein, #carbs, #fat, #protein {
  color: #FFF;
  font-family: "PP Monument Extended";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

  #max-carbs,#max-fat,#max-protein {
    font-size: 10px;
  }

  #carbs {
    margin-left: 5px;
  }

  .line-graph-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    position: relative;
}

.line-graph {
    width: 100%;
    height: 120px;
    padding: 0px 15px 0px 15px;
    border-radius: var(--container-border-radius);
}

.grid-lines {
    display: flex;
    justify-content: center;
}

.grid-lines line {
    stroke: white;
    stroke-width: 2;
    opacity: 0.5; 
}

.graph-line {
    fill: none;
    stroke: white;
    stroke-width: 9;
    stroke-linecap: round;
    filter: drop-shadow(0 10px 10px rgba(255, 255, 255, 0.3)); 
}

.graph-points circle {
    fill: #A6D7A8;
    stroke: white;
    stroke-width: 5;
}

.labels text {
    font-family: "PP Monument Extended", sans-serif;
    fill: white; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
